# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
.venv/
env/
venv/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# dotenv
.env

# VS Code
.vscode/

# MacOS
.DS_Store

# Black & isort caches
.cache/
.mypy_cache/
.pytest_cache/

# Jupyter Notebook (if ever used)
.ipynb_checkpoints/

# Redis dumps (if applicable)
dump.rdb
