<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Corporate Researcher</title>
    <link
     rel="stylesheet"
     href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>
</head>
<body>
<main class="container">
    <h1>Corporate Researcher</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="company_name" placeholder="Company Name">
        <button type="submit">Search</button>
    </form>

        <section id="log"></section>
        <section id="content"></section>
    </main>

    <script>

        const ws = new WebSocket("ws://localhost:8000/ws/notifications/");

        ws.onmessage = function(event) {
            const data = JSON.parse(event.data);

            const type = data.message.type;
            const content = data.message.content;

            if (type == "notification") {
                const notificationLog = document.getElementById("log");
                notificationLog.innerHTML += '<p>${content}</p>';
            }

            if (type == "final_result") {
                const notificationLog = document.getElementById("log");
                const contentDiv = document.getElementById("content");
                contentDiv.innerHTML = content;
                notificationLog.innerHTML ="";
            }
        };

        ws.onopen = function (event) {
            console.log("Connected to WebSocket server");
        }

        ws.onclose = function (event) {
            console.log("Disconnected from WebSocket server");
        }
    </script>
</body>
</html>