<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Corporate Researcher</title>
    <link
     rel="stylesheet"
     href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>
</head>
<body>
<main class="container">
    <h1>Corporate Researcher</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="company_name" placeholder="Company Name">
        <button type="submit">Search</button>
    </form></main>
</body>
</html>